.relative {
    position: relative;
}

.navbar-mobile {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
}

.logo-container {
    flex-basis: 66.666667%;
    display: flex;
    justify-content: center;
}

.nav-icon-container {
    flex-basis: 33.333333%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-icon {
    padding: 0.25rem;
    flex-basis: 66.666667%;
    display: flex;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.mobile-nav-menu {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffb600;
    border: 1px solid #d1d5db;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    padding-bottom: 2rem;
}

.mobile-nav-menu.hide {
    transform: translateY(100%);
}

.mobile-nav-menu.show {
    transform: translateY(0);
}

.nav-options {
    padding: 0.5rem;
    padding-top: 1rem;
}

.nav-item {
    font-size: 1.125rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.navbar-pc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    padding-top: 1.5rem;
    padding-left: 20%;
    padding-right: 20%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-link {
    border-bottom: 2px solid transparent;
    border-radius: 9999px;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition: all 0.15s ease-in-out;
}

.nav-link:hover {
    border-bottom: 2px solid black;
    transform: scale(1.05);
}

.logo-container {
    flex-basis: 50%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    transition: transform 0.15s ease-in-out;
}

.logo-container:hover {
    transform: scale(1.05);
}

.logo {
    width: 100%;
    max-width: 200px;
    height: auto;
}